<h1><%= @patron.name %> Details</h1>

<p>Name: <%= @patron.name %> </p>
<p>Email Address: <%= @patron.email %></p>

<a href="/patron/<%= @patron.id %>/edit">Edit <%= @patron.name %></a></br>

<a href="/patron">Return to Members List</a>
