<h1><%= @staff_member.name %> Details</h1>

<p>Name: <%= @staff_member.name %> </p>
<p>Email Address: <%= @staff_member.email %></p>

<a href="/staff_members/<%= @staff_member.id %>/edit">Edit <%= @staff_member.name %></a></br>

<a href="/staff_members">Return to Staff Members List</a>
